
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$body1: 1rem;
$body2: 0.875rem;
$body3: 0.75rem;
$body4: 0.625rem;

$label1: 1rem;
$label2: 0.9375rem;
$label3: 0.875rem;

$h1: 2.75rem;
$h2: 2.375rem;
$h3: 1.875rem;
$h4: 1.625rem;
$h5: 1.375rem;
$h6: 1.25rem;
$h7: 1.125rem;
$h8: 1rem;

$totalWidth: 1440px;