@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --background: #ffffff;
  --foreground: #666666;
  --primary-color: #f50964;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #666666;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  margin-top: 80px; /* Space below Header */
  margin-bottom: 60px; /* Space above Footer */
  padding: 20px;
}
input:-webkit-autofill {
  background-color: var(--background) !important; /* Ensure the background is applied */
  -webkit-box-shadow: 0 0 0px 1000px var(--background) inset !important; /* Covers autofill's default background */
  -webkit-text-fill-color: #212529 !important; /* Set text color for autofilled input */
}

/* Autofill on focus */
input:-webkit-autofill:focus {
  background-color: var(--background) !important; /* Keep background the same when focused */
  -webkit-box-shadow: 0 0 0px 1000px var(--background) inset !important; /* Maintain box shadow */
}

/* Autofill on blur */
input:-webkit-autofill:not(:focus) {
  background-color: var(--background) !important; /* Ensure background stays on blur */
}